<!-- TODO: nicer mobile view -->
<ul ng-show="loggedin" class="nav nav-tabs" ng-controller="NavCtrl as nav">
  <li role="presentation" ng-class="{ active: (nav.isActive('/') || nav.isActive ('/user/' + userdata.username))}">
    <a href="#/">Profile</a>
  </li>
  <li role="presentation" ng-class="{ active: nav.isActive('/friends')}">
    <a href="#/friends">Friends</a>
  </li>
  <li role="presentation" ng-class="{ active: nav.isActive('/groups')}">
    <a href="#/groups">Groups</a>
  </li>
  <!-- <li class="disabled" role="presentation" ng-class="{ active: nav.isActive('/messages')}">
    <a href="">Messages <span class="badge">42</span></a>
  </li> -->
  <li role="presentation" ng-class="{ active: nav.isActive('/search')}">
    <a href="#/search">Search</a>
  </li>
</ul>
