# Java
*.class
#*.jar
server/bin/

# Frameworks and Libraries
client/src/bower_components/
client/node_modules/
client/dist/

# Sublime
*.sublime-workspace

# Eclipse
.metadata
.recommenders

# OS X
*~
*.DS_Store
*.Trashes

# Windows
thumbs.db
Desktop.ini
