# Java
*.class
*.jar

# Bootstrap & jQuery
# (uncomment if there's a better solution)
# client/bower_components/

# Sublime
*.sublime-workspace

# OS X
*~
*.DS_Store
*.Trashes

# Windows
thumbs.db
Desktop.ini
