<div class="row">
  <div ng-class="{ 'col-md-offset-3 col-md-6' : !friends.itsMe, 'col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5' : friends.itsMe }" ng-hide="friends.loadingFriends">
    <h2 ng-class="{ 'text-center' : !friends.itsMe }"><span ng-hide="friends.itsMe"><span ng-bind="friends.userdata.username"></span> </span>Friends</h2>
    <ul class="media-list big-margin-top">
      <li class="media" ng-repeat="friend in friends.friendList">
        <span class="media-left">
          <i class="fa fa-user fa-fw fa-3x"></i>
        </span>
        <div class="media-body">
          <h4 class="media-heading">
            <a class="media-left media-middle" ng-href="#/user/{{ friend.username }}">
              <span ng-bind="friend.firstname + ' ' + friend.lastname"></span><br ng-show="friend.firstname">
              <span ng-bind="friend.username"></span>
            </a><abbr ng-show="friend.trueFriend" class="media-right color-green no-padding-left" title="You are true friends."><br ng-show="friend.firstname"><i class="fa fa-check fa-fw"></i></abbr>
          </h4>
          <span ng-bind="::friend.email"></span>
          <span ng-bind="::friend.otherProperties.city"></span>
        </div>
      </li>
    </ul>
  </div>

  <div ng-class="{ 'col-md-offset-3 col-md-6' : !friends.itsMe, 'col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5' : friends.itsMe }" ng-show="friends.loadingFriends">
    <h3 class="text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></h3>
  </div>

  <div class="col-sm-5 col-md-4" ng-hide="friends.loadingFriendRequests || !friends.itsMe">
    <h2>Friend Requests</h2>
    <ul class="media-list big-margin-top">
      <li class="media" ng-repeat="friend in friends.friendRequestList">
        <span class="media-left">
          <i class="fa fa-user fa-fw fa-3x"></i>
        </span>
        <div class="media-body">
          <h4 class="media-heading">
            <a class="media-left media-middle" ng-href="#/user/{{ friend.username }}">
              <span ng-bind="friend.firstname + ' ' + friend.lastname"></span><br ng-show="friend.firstname">
              <span ng-bind="friend.username"></span>
            </a>
          </h4>
          <span ng-bind="::friend.email"></span>
          <span ng-bind="::friend.city"></span>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-sm-5 col-md-4" ng-show="friends.loadingFriendRequests">
    <h3 class="text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></h3>
  </div>


</div>
