<div class="well col-md-offset-3 col-md-6">
  <form novalidate name="searchForm" ng-submit="search.loadSearchList(searchForm.$valid, search.searchString)" >
    <div class="form-group">
      <input autofocus ng-readonly="search.firstLoading || search.secondLoading" type="search" ng-model="search.searchString" class="form-control input-lg" placeholder="Type search string and press enter">
      <div class="help-block" ng-hide="search.firstLoading || search.secondLoading">
        <span ng-hide="(search.submittedSearchString.length > 2) || search.firstSearch">
          You only searched for groups. Enter more than 3 characters to search also for users.
        </span>
        <span ng-show="search.submittedSearchString.length > 2">
          Your search <span ng-show="search.submittedSearchString.length > 0">for "{{ search.submittedSearchString }}"</span> returned
          <ng-pluralize count="filteredUserSearch.length" when="{ '0': 'no Users', 'one': 'one User', 'other': ' {} Users' }"></ng-pluralize> and <ng-pluralize count="filteredGroupSearch.length" when="{ '0': 'no Groups', 'one': 'one Group', 'other': '{} Groups' }"></ng-pluralize>.
        </span>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <ul class="media-list" ng-class="{ 'col-sm-offset-1 col-sm-5 col-md-offset-3 col-md-4': filteredUserSearch.length > 0 }">
    <li class="media" ng-repeat="user in filteredUserSearch = (search.userlist | filter: search.submittedSearchString) | orderBy: 'user.username' | limitTo:8">
      <span class="media-left">
        <i class="fa fa-user fa-fw fa-3x" ng-class="{ 'user-is-me' : user.id == userdata.id }"></i>
      </span>
      <div class="media-body">
        <h4 class="media-heading">
          <a class="media-left media-middle" ng-href="#/user/{{ user.username }}">
            <span ng-bind="user.firstname + ' ' + user.lastname"></span><br ng-show="user.firstname">
            <span ng-bind="user.username"></span>
          </a>
        </h4>
        <span ng-bind="::user.email"></span>
        <span ng-bind="::user.otherProperties.city"></span>
      </div>
    </li>
  </ul>
  <ul class="media-list" ng-class="{ 'col-sm-5 col-md-4': filteredUserSearch.length > 0, 'col-md-offset-3 col-md-6': filteredUserSearch.length == 0 }">
    <li class="media" ng-repeat="group in filteredGroupSearch = (search.grouplist | filter: search.submittedSearchString) | orderBy: 'group.groupName' | limitTo:8">
      <span class="media-left">
        <i class="fa fa-users fa-fw fa-3x"></i>
      </span>
      <div class="media-body">
        <h4 class="media-heading">
          <a class="media-left media-middle" ng-href="#/group/{{ group.groupID }}">
            <span ng-bind="::group.groupName"></span>
          </a>
        </h4>
        <span ng-bind="::group.groupDescr"></span>
      </div>
    </li>
  </ul>
</div>
