<div class="row">
  <div class="col-md-offset-3 col-md-6" ng-hide="groups.loadingGroups">
    <!-- Header -->
    <h2 class="text-center">Groups of <a ng-bind="::groups.userdata.username" ng-href="#/user/{{ ::groups.userdata.username }}"></a> <span ng-hide="groups.groupList.length == 0" ng-bind="::groups.groupList.length" class="label label-warning"></span> <i ng-show="groups.groupList.length == 0" class="fa fa-fw fa-frown-o"></i></h2>
    <!-- New Group Button -->
    <!-- <div class="row big-margin-top"> -->
    <button type="button" class="btn btn-default" ng-click="groups.openCreateGroupModal()"><i class="fa fa-fw fa-asterisk"></i> Create group</button>
    <!-- </div> -->
    <!-- groupList -->
    <ul class="media-list big-margin-top">
      <li class="media" ng-repeat="group in groups.groupList | filter: groups.submittedSearchString | orderBy: 'group.groupName' | limitTo:8">
        <span class="media-left">
          <i class="fa fa-users fa-fw fa-3x"></i>
        </span>
        <div class="media-body">
          <h4 class="media-heading">
            <p class="media-left media-middle">
              <a ng-bind="::group.groupName" ng-href="#/group/{{ ::group.groupID }}"></a>
              <span class="label label-warning" ng-bind="group.memberCount"></span>
            </p>
          </h4>
          <span ng-bind-html="::group.groupDescr | shortenDescription"></span>
        </div>
      </li>
    </ul>
    <h4 ng-show="groups.groupList.length == 0" class="text-center">There are no groups to display here.</h4>
  </div>

  <div class="col-md-offset-3 col-md-6" ng-show="groups.loadingGroups">
    <h3 class="text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></h3>
  </div>
</div>
