<div class="container" id="register">
  <!-- Page Header -->
  <div class="page-header">
    <h1 class="text-center">w3lcome to n3twork</h1><br>
  </div>

  <div class="text-center" ng-show="register.submitted">
    <h3 ng-bind="register.message">Here is going to appear some text.</h3>
    <br><br>
  </div>

  <!-- Login Toggle for Mobile Devices -->
  <div class="visible-sm visible-xs text-center">
    <h4><a href="" role="button" data-toggle="collapse" data-target="#navbar-collapse-1">Login above</a><span ng-hide="(register.submitted && register.signedup) || loggedin"> or register below.</span></h4><br>
  </div>

  <!-- Register Form -->
  <form ng-hide="(register.submitted && register.signedup) || loggedin" name="registerForm" ng-submit="register.submit(registerForm.$valid)" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 form-horizontal" role="form" novalidate>
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="form-group" show-errors="{ showSuccess: true, trigger: 'keypress default paste' }">
        <input required type="text" ng-model="register.user.username" ng-minlength=3 ng-maxlength=20 ng-taken class="form-control" name="username" placeholder="Username"/>
        <div ng-show="registerForm.username.$dirty && registerForm.username.$invalid" class="help-block" ng-messages="registerForm.username.$error" ng-messages-include="app/views/messages.html"></div>
      </div>

      <div class="form-group" show-errors="{ showSuccess: true, trigger: 'keypress default paste' }">
        <input required type="email" ng-model="register.user.mail" class="form-control" name="mail" placeholder="Email"/>
        <div ng-show="registerForm.mail.$dirty && registerForm.mail.$invalid" class="help-block" ng-messages="registerForm.mail.$error" ng-messages-include="app/views/messages.html"></div>
      </div>

      <div class="form-group" show-errors="{ showSuccess: true, trigger: 'keypress default paste' }">
        <input required ng-minlength=8 ng-maxlength=50 type="password" ng-model="register.user.pw" class="form-control" name="pw" placeholder="Password"/>
        <div ng-show="registerForm.pw.$dirty && registerForm.pw.$invalid" class="help-block" ng-messages="registerForm.pw.$error" ng-messages-include="app/views/messages.html"></div>
      </div>

      <div class="form-group" show-errors="{ showSuccess: true, trigger: 'keypress default paste' }">
        <input required type="password" ng-model="register.user.pwconfirm" compare-to="register.user.pw" class="form-control" name="pwconfirm" placeholder="Confirm Password"/>
        <div ng-show="registerForm.pwconfirm.$dirty && registerForm.pwconfirm.$invalid" class="help-block" ng-messages="registerForm.pwconfirm.$error" ng-messages-include="app/views/messages.html"></div>
      </div>

      <div class="form-group text-center">
        <button ng-disabled="registerForm.$invalid || register.loading" type="submit" class="btn btn-lg btn-block btn-warning">
          <span ng-hide="register.loading">
            <i class="fa fa-users"></i> Sign up
          </span>
          <span ng-show="register.loading">
            <i class="fa fa-spinner fa-spin"></i> Signing up
          </span>
        </button>
      </div>
    </div>
  </form>
</div>

<!-- Adjust function
<script type="text/javascript">
  $('#mailadjust').on('input', adjust);
</script> -->
