<div ng-hide="profile.doesntexist">
  <div class="col-sm-4" ng-hide="profile.loadingUserData">
    <!-- Names -->
    <div class="media">
      <div class="media-left">
        <img width="100px" ng-src="http://www.gravatar.com/avatar/{{ profile.userdata.emailhash }}?d=mm&s=100" ng-srcset="http://www.gravatar.com/avatar/{{ profile.userdata.emailhash }}?d=mm&s=100 1x,
        http://www.gravatar.com/avatar/{{ profile.userdata.emailhash }}?d=mm&s=200 2x" />
      </div>
      <div class="media-body">
        <h3 class="media-heading">
          <abbr ng-show="profile.trueFriend" class="pull-right media-right color-green no-padding-left" title="You are true friends."><i class="fa fa-check fa-fw"></i></abbr>
          <span ng-bind="profile.userdata.firstName + ' ' + profile.userdata.lastName"></span>
          <br ng-show="profile.userdata.firstName"><br ng-show="profile.userdata.firstName">
          <span ng-bind="profile.userdata.username"></span>
        </h3>
      </div>
    </div>

    <button type="button" ng-hide="profile.itsMe" ng-disabled="profile.friendButtonLoading || profile.checkingFriend" class="btn btn-block margin-top" ng-class="{ 'btn-success': (!profile.friendButtonLoading && !profile.isFriend && !profile.checkingFriend), 'btn-default': (profile.checkingFriend || profile.friendButtonLoading), 'btn-danger': (profile.isFriend && !profile.checkingFriend && !profile.friendButtonLoading) }" ng-click="profile.friendAction()">
      <span ng-show="!profile.friendButtonLoading && !profile.isFriend && !profile.checkingFriend"><i class="fa fa-fw fa-plus"></i> Add as friend</span>
      <span ng-show="!profile.friendButtonLoading && profile.isFriend && !profile.checkingFriend"><i class="fa fa-fw fa-minus"></i> Remove from friends</span>
      <span ng-show="profile.friendButtonLoading || profile.checkingFriend"><i class="fa fa-fw fa-spinner fa-spin"></i> Loading</span>
    </button>
    <!-- otherProperties -->
    <hr>
    <ul class="fa-ul">
      <li class="bigger-text"><strong><i class="fa-li fa fa-{{ 'mail' | symbolForKey }}"></i></strong> {{ ::profile.userdata.email }}</li>
      <li ng-repeat="(key, property) in profile.userdata.otherProperties" class="bigger-text"><strong><i class="fa-li fa fa-{{ ::key | symbolForKey }}"></i></strong> {{ property }}</li>
    </ul>
    <!-- Groups -->
    <hr ng-show="(profile.itsMe && (profile.grouplist.length == 0)) || !(profile.grouplist.length == 0)">
    <ul class="fa-ul" ng-hide="profile.loadingGroups">
      <li ng-repeat="group in profile.grouplist | limitTo: 5" class="bigger-text"><strong><i class="fa-li fa fa-users"></i></strong><a ng-href="#/group/{{ ::group.groupID }}">{{ ::group.groupName }}</a></li>
      <li ng-show="profile.itsMe && (profile.grouplist.length == 0)" class="bigger-text"><strong><i class="fa-li fa fa-frown-o"></i></strong>You are in no groups yet.</li>
    </ul>
    <p ng-hide="profile.grouplist.length == 0 || profile.loadingGroups" class="margin-top">
      <span ng-bind="::profile.grouplist.length" class="label label-warning"></span><i class="fa fa-fw fa-sort-down fa-rotate-270"></i><a ng-href="#/user/{{ ::profile.userdata.username }}/groups">Groups</a>
    </p>
    <h3 class="text-center" ng-show="profile.loadingGroups"><i class="fa fa-spinner fa-spin"></i></h3>
    <!-- Friends -->
    <hr ng-show="(profile.itsMe && (profile.friendlist.length == 0)) || !(profile.friendlist.length == 0)">
    <ul class="fa-ul" ng-hide="profile.loadingFriends">
      <li ng-repeat="friend in profile.friendlist | limitTo: 5" class="bigger-text"><strong><i class="fa-li fa fa-user"></i></strong><a ng-href="#/user/{{ ::friend.username }}">{{ ::friend.username }}</a></li>
      <li ng-show="profile.itsMe && (profile.friendlist.length == 0)" class="bigger-text"><strong><i class="fa-li fa fa-frown-o"></i></strong>You don't have any friends.</li>
    </ul>
    <p ng-hide="(profile.friendlist.length == 0) || profile.loadingFriends" class="margin-top">
      <span ng-bind="::profile.friendlist.length" class="label label-warning"></span><i class="fa fa-fw fa-sort-down fa-rotate-270"></i><a ng-href="#/user/{{ ::profile.userdata.username }}/friends">Friends</a>
    </p>
    <h3 class="text-center" ng-show="profile.loadingFriends"><i class="fa fa-spinner fa-spin"></i></h3>
    <hr>
  </div>

  <div class="col-sm-4" ng-show="profile.loadingUserData">
    <h3 class="text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></h3>
  </div>

  <!-- POSTS -->
  <div class="col-sm-8 clearfix" ng-hide="profile.loadingPosts || profile.loadingUserData">
    <ul class="media-list">
      <!-- New Post Form -->
      <li class="media" ng-show="profile.itsMe">
        <div class="media-left">
          <button class="btn btn-default square-button" ng-click="profile.newPostPrivate = !profile.newPostPrivate" title="Toggle privacy">
            <i class="fa fa-2x fa-fw" ng-class="{ 'fa-globe': !profile.newPostPrivate, 'fa-lock': profile.newPostPrivate }"></i>
          </button>
        </div>
        <div class="media-body full-width">
          <form role="form" name="newPostForm">
            <fieldset ng-disabled="profile.newPostLoading">
              <textarea required ng-model="profile.newPostText" rows="3" class="form-control input-lg" placeholder="Post something here!"></textarea>
              <button type="button" class="btn btn-warning small-margin-top no-margin-bottom pull-right" ng-click="profile.newPost()" ng-disabled="newPostForm.$invalid">
                <span ng-show="profile.newPostLoading"><i class="fa fa-spinner fa-spin"></i> Posting</span>
                <span ng-hide="profile.newPostLoading"><i class="fa fa-fw fa-paper-plane-o"></i> Post</span>
              </button>
            </fieldset>
          </form>
        </div>
      </li>
      <hr class="margin-top" ng-show="profile.itsMe">
      <!-- Actual Post-List -->
      <li class="media" ng-repeat="post in profile.postlist | orderBy: 'postDate':true">
        <div class="media-left">
          <i class="fa fa-3x fa-fw" ng-class="{ 'fa-globe': !post.private, 'fa-lock': post.private }" title="{{ (post.private ? 'Private' : 'Public') }}"></i>
        </div>
        <div class="media-body">
          <span class="media-heading bigger-text" ng-bind-html="post.content | parsePost"></span>
          <div class="margin-top">
            <button role="button" class="btn btn-xs btn-warning" ng-click="profile.voteAction(post.id, post.didIVote)" ng-class="{ 'active': post.didIVote }" ng-disabled="profile.voteButtonLoading[post.id]">
              <i class="fa fa-fw" ng-class="{ 'fa-thumbs-o-up': !profile.voteButtonLoading[post.id], 'fa-spin fa-spinner': profile.voteButtonLoading[post.id] }"></i>
            </button>
            <button role="button" class="btn btn-xs btn-default" ng-show="post.numberOfVotes > 0" ng-click="profile.showVotes(post.id)">
              <span ng-hide="profile.voteButtonLoading[post.id]" ng-bind="post.numberOfVotes"></span><i ng-show="profile.voteButtonLoading[post.id]" class="fa fa-spinner fa-spin text-muted"></i> <i class="fa fa-thumbs-o-up fa-fw"></i>
            </button>
            <button role="button" class="btn btn-xs btn-default" style="min-width: 38px;" ng-click="profile.commentAction(post.id, post.numberOfComments)" ng-disabled="profile.commentsLoading[post.id]">
              <span ng-hide="profile.commentsLoading[post.id] || profile.showComments[post.id]">
                <span ng-hide="post.numberOfComments == 0" ng-bind="post.numberOfComments + '  '"></span>
                <i ng-show="post.numberOfComments == 0" class="fa fa-caret-down"></i>
                <i class="fa fa-comments-o"></i>
              </span>
              <span ng-show="profile.commentsLoading[post.id]">
                <i class="fa fa-spinner fa-spin"></i>
                <i class="fa fa-comments-o"></i>
              </span>
              <span ng-show="profile.showComments[post.id] && !profile.commentsLoading[post.id]">
                <i class="fa fa-caret-up"></i>
                <i class="fa fa-comments-o"></i>
              </span>
            </button>
            <small ng-bind="post.postDate | convertToDate" class="text-muted padding-left"></small>
            <button role="button" class="btn btn-link btn-xs neg-margin no-padding-left" ng-hide="profile.removeButtonConfirmation[post.id] || !profile.itsMe" ng-click="profile.removeButtonConfirmation[post.id] = true"><i class="fa fa-fw fa-remove text-muted"></i></button>
            <span ng-show="profile.removeButtonConfirmation[post.id]" class="small text-muted no-padding-left">Confirm deletion:</span>
            <button role="button" class="btn btn-link btn-xs neg-margin" ng-show="profile.removeButtonConfirmation[post.id]" ng-click="profile.removePost(post.id)" ng-disabled="profile.removePostButtonLoading[post.id]">
              <span ng-hide="profile.removePostButtonLoading[post.id]"><i class="fa fa-fw fa-check text-muted"></i></span>
              <span ng-show="profile.removePostButtonLoading[post.id]"><i class="fa fa-fw fa-spin fa-spinner"></i></span>
            </button>
            <button role="button" class="btn btn-xs btn-link neg-margin" ng-show="profile.removeButtonConfirmation[post.id] && !profile.removePostButtonLoading[post.id]" ng-click="profile.removeButtonConfirmation[post.id] = false"><i class="fa fa-fw fa-remove text-muted"></i></button>
          </div>
          <!-- Comment-List -->
          <ul class="media-list comment-width" ng-show="profile.showComments[post.id] && !profile.commentsLoading[post.id]">
            <hr class="margin-top">
            <!-- New comment section -->
            <li class="media">
              <div class="media-left">
                <img width="42px" ng-src="http://www.gravatar.com/avatar/{{ userdata.emailhash }}?d=mm&s=42" ng-srcset="http://www.gravatar.com/avatar/{{ userdata.emailhash }}?d=mm&s=42 1x, http://www.gravatar.com/avatar/{{ userdata.emailhash }}?d=mm&s=84 2x">
              </div>
              <div class="media-body full-width">
                <form role="form" name="{{ 'newCommentForm' + post.id }}">
                  <fieldset ng-disabled="profile.newCommentLoading[post.id]">
                    <textarea required ng-model="profile.newCommentText[post.id]" rows="2" class="form-control" placeholder="Comment this post here!"></textarea>
                    <button type="button" class="btn btn-warning btn-xs small-margin-top no-margin-bottom pull-right" ng-click="profile.newComment(post.id)" ng-disabled="{{ 'newCommentForm' + post.id }}.$invalid">
                      <span ng-show="profile.newCommentLoading[post.id]"><i class="fa fa-spinner fa-spin"></i> Commenting</span>
                      <span ng-hide="profile.newCommentLoading[post.id]"><i class="fa fa-fw fa-comment-o"></i> Comment</span>
                    </button>
                  </fieldset>
                </form>
              </div>
            </li>
            <hr class="margin-top" ng-hide="post.numberOfComments == 0">
            <!-- Actual comment-list -->
            <li class="media" ng-repeat="comment in post.comments | orderBy: 'date':true">
              <a class="media-left" ng-href="#/user/{{ comment.author.username }}">
                <img width="42px" ng-src="http://www.gravatar.com/avatar/{{ comment.author.emailhash }}?d=mm&s=42" ng-srcset="http://www.gravatar.com/avatar/{{ comment.author.emailhash }}?d=mm&s=42 1x, http://www.gravatar.com/avatar/{{ comment.author.emailhash }}?d=mm&s=84 2x">
              </a>
              <div class="media-body">
                <h5 class="media-heading">
                  <a ng-href="#/user/{{ comment.author.username }}" ng-bind="(comment.author.firstName ? comment.author.firstName : comment.author.username) + (comment.author.lastName ? ' ' + comment.author.lastName : '')"></a>
                </h5>
                <span ng-bind="comment.content"></span><br>
                <small class="text-muted">
                  <span title="{{ comment.date | convertToDate }}" ng-bind="comment.date | convertToAgo"></span>
                  <i class="fa fa-globe fa-fw text-muted" title="Can be seen by all users that can see this post."></i>
                  <button role="button" class="btn btn-link btn-xs neg-margin no-padding-left" ng-hide="profile.removeCommentButtonConfirmation[comment.id] || (!profile.itsMe && (userdata.id != comment.author.id))" ng-click="profile.removeCommentButtonConfirmation[comment.id] = true"><i class="fa fa-fw fa-remove text-muted"></i></button>
                  <span ng-show="profile.removeCommentButtonConfirmation[comment.id]" class="text-muted no-padding-left">Confirm deletion:</span>
                  <button role="button" class="btn btn-link btn-xs neg-margin" ng-show="profile.removeCommentButtonConfirmation[comment.id]" ng-click="profile.removeComment(comment.id, post.id)" ng-disabled="profile.removeCommentButtonLoading[comment.id]">
                    <span ng-hide="profile.removeCommentButtonLoading[comment.id]"><i class="fa fa-fw fa-check text-muted"></i></span>
                    <span ng-show="profile.removeCommentButtonLoading[comment.id]"><i class="fa fa-fw fa-spin fa-spinner text-muted"></i></span>
                  </button>
                  <button role="button" class="btn btn-xs btn-link neg-margin" ng-show="profile.removeCommentButtonConfirmation[comment.id] && !profile.removeCommentButtonLoading[comment.id]" ng-click="profile.removeCommentButtonConfirmation[comment.id] = false">
                    <i class="fa fa-fw fa-remove text-muted"></i>
                  </button>
                </small>
              </div>
            </li>
          </ul>
        </div>
        <hr>
      </li>
    </ul>

    <div ng-show="profile.postlist.length == 0" class="text-center" >
      <h2>There are no posts here.</h2>
      <h2><i class="fa fa-frown-o fa-2x"></i></h2>
    </div>

  </div>

  <div class="col-sm-8" ng-show="profile.loadingPosts">
    <h3 class="text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></h3>
  </div>
</div>

<div class="text-center" ng-show="profile.doesntexist">
  <h1><i class="fa fa-frown-o fa-4x"></i><br><br>Sorry, that profile does not exist.</h1>
</div>
