nav {
  #brandimg {
    height: 50px;
    margin-top: -16px;
  }

  #loginFailedText {
    color: #a94442;
    margin-right: 0;
  }

  // to set logout button position right
  #userButton {
    margin-right: 15px;
  }

  // to fix navbar-dropdown
  ul.dropdown-menu {
    margin-top: 2px !important;
    border-radius: 4px !important;
    min-width: 180px;
  }
}

.container-fluid {
  #register {
    background: #58ACFA; /* 58ACFA FF8000 */
    color: white;
    border-radius: 4px;
  }
}

.page-header {
  color: white;
}
