<div class="col-md-8 col-md-offset-2">
  <!-- Post List -->
  <ul class="media-list">
    <!-- New Post Form -->
    <li class="media">
      <div class="media-left">
        <button class="btn btn-default square-button" ng-click="feed.newPostPrivate = !feed.newPostPrivate" title="Toggle privacy">
          <i class="fa fa-2x fa-fw" ng-class="{ 'fa-globe': !feed.newPostPrivate, 'fa-lock': feed.newPostPrivate }"></i>
        </button>
      </div>
      <div class="media-body full-width">
        <form role="form" name="newPostForm">
          <fieldset ng-disabled="feed.newPostLoading">
            <textarea required autofocus ng-model="feed.newPostText" rows="3" class="form-control input-lg" placeholder="Post something here!"></textarea>
            <button type="button" class="btn btn-warning small-margin-top no-margin-bottom pull-right" ng-click="feed.newPost()" ng-disabled="newPostForm.$invalid">
              <span ng-show="feed.newPostLoading"><i class="fa fa-spinner fa-spin"></i> Posting</span>
              <span ng-hide="feed.newPostLoading"><i class="fa fa-fw fa-paper-plane-o"></i> Post</span>
            </button>
          </fieldset>
        </form>
      </div>
    </li>
    <hr class="margin-top">
    <!-- Actual Post List -->
    <li class="media" ng-repeat="post in feed.postlist | orderBy: 'postDate':true">
      <a class="media-left" ng-href="#/user/{{ post.author.username }}">
        <!-- <span ng-show="post.owner.id != 0"><i class="fa fa-fw fa-users fa-3x padding-bottom padding-left text-center"></i><br></span> -->
        <img width="64px" ng-src="http://www.gravatar.com/avatar/{{ post.author.emailhash }}?d=mm&s=64" ng-srcset="http://www.gravatar.com/avatar/{{ post.author.emailhash }}?d=mm&s=64 1x, http://www.gravatar.com/avatar/{{ post.author.emailhash }}?d=mm&s=128 2x">
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a ng-href="#/user/{{ post.author.username }}" ng-bind="(post.author.firstname ? post.author.firstname : post.author.username) + (post.author.lastname ? ' ' + post.author.lastname : '')"></a>
          <span ng-show="post.owner.id != 0">
           in <i class="fa fa-users"></i> <a ng-href="#/group/{{ post.owner.id }}" ng-bind="post.owner.name"></a>:
          </span>
        </h4>
        <span ng-bind-html="post.content | parsePost"></span><br>
        <div class="margin-top">
          <button role="button" class="btn btn-xs btn-warning" ng-click="feed.voteAction(post.id, post.didIVote)" ng-class="{ 'active': post.didIVote }" ng-disabled="feed.voteButtonLoading[post.id]">
            <i class="fa fa-fw" ng-class="{ 'fa-thumbs-o-up': !feed.voteButtonLoading[post.id], 'fa-spin fa-spinner': feed.voteButtonLoading[post.id] }"></i>
          </button>
          <button role="button" class="btn btn-xs btn-default" ng-show="post.numberOfVotes > 0" ng-click="feed.showVotes(post.id)">
            {{ post.numberOfVotes }} votes
          </button>
          <small ng-bind="post.postDate | convertToDate" class="text-muted padding-left"></small>
          <i class="fa fa-fw text-muted" ng-class="{ 'fa-globe': !post.private, 'fa-lock': post.private }" title="{{ (post.private ? 'Private' : 'Public') }}"></i>
          <button role="button" class="btn btn-link btn-xs neg-margin no-padding-left" ng-hide="feed.removeButtonConfirmation[post.id] || (userdata.id != post.author.id)" ng-click="feed.removeButtonConfirmation[post.id] = true"><i class="fa fa-fw fa-remove text-muted"></i></button>
          <span ng-show="feed.removeButtonConfirmation[post.id]" class="small text-muted no-padding-left">Confirm deletion:</span>
          <button role="button" class="btn btn-link btn-xs neg-margin" ng-show="feed.removeButtonConfirmation[post.id]" ng-click="feed.removePost(post.id)" ng-disabled="feed.removePostButtonLoading[post.id]">
            <span ng-hide="feed.removePostButtonLoading[post.id]"><i class="fa fa-fw fa-check text-muted"></i></span>
            <span ng-show="feed.removePostButtonLoading[post.id]"><i class="fa fa-fw fa-spin fa-spinner"></i></span>
          </button>
          <button role="button" class="btn btn-xs btn-link neg-margin" ng-show="feed.removeButtonConfirmation[post.id] && !feed.removePostButtonLoading[post.id]" ng-click="feed.removeButtonConfirmation[post.id] = false">
            <i class="fa fa-fw fa-remove text-muted"></i>
          </button>
        </div>
      </div>
      <hr class="margin-top">
    </li>
  </ul>
  <div ng-show="feed.postlist.length == 0" class="text-center" >
    <h2>There are no posts here.</h2>
    <h2><i class="fa fa-frown-o fa-2x"></i></h2>
  </div>
  <div class="text-center" ng-show="feed.errorOccured">
    <h1><i class="fa fa-frown-o fa-4x"></i><br><br>An error occured, try to reload.</h1>
  </div>
</div>

<div class="col-sm-8 col-md-offset-2" ng-show="feed.loadingFeed">
  <h3 class="text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></h3>
</div>
